@model TheTop.Models.ViewModel.MyAdsViewModel
@{
    ViewData["Title"] = "CreateAds";
    Layout = "~/Views/Shared/_Customer.cshtml";
}

<!-- Start Header Area -->
<header class="header navbar-area">
    <!-- Start Header Middle -->
    <div class="header-middle" style="padding:0;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-3 col-7">
                    <!-- Start Header Logo -->
                    <a class="navbar-brand" >
                        <img src="~/Images/LogoWithName.png" alt="Logo">
                    </a>
                    <!-- End Header Logo -->
                </div>
                <div class="col-lg-6 col-md-3 col-7"
                     id="navbarSupportedContent">
                    <ul id="nav" class="navbar-nav ms-auto" style="flex-direction: row !important;">
                        <li class="nav-item">
                            <a asp-action="Index"
                               aria-label="Toggle navigation">Home</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index"
                               aria-label="Toggle navigation">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index"
                               aria-label="Toggle navigation">Products</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-2 col-5 ">
                    <div class="navbar-cart">
                        <div class="nav-item dropdown">
                            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><img src="@Model.Users.UserPhoto" class="avatar" style="height: 30px;width: 30px;border-radius: 50%;" alt="Avatar"> @Model.Users.UsarName  <b class="caret"></b></a>
                            <div class="dropdown-menu">
                                <a asp-action="MyAds" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a>
                                <a asp-action="EditProfile" class="dropdown-item"><i class="fa fa-sliders"></i> Edit Profile</a>
                                <div class="dropdown-divider"></div>
                                <a asp-controller="Home" asp-action="Home" class="dropdown-item"><i class="material-icons"></i> Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Middle -->
</header>
<!-- End Header Area -->
<section class="user-profile section mt-200">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
                <div class="sidebar">
                    <!-- User Widget -->
                    <div class="widget user-dashboard-profile">
                        <!-- User Image -->
                        <!-- User Image -->
                        <div class="profile-thumb">
                            <img src="@Model.Users.UserPhoto"
                                 alt=""
                                 class="rounded-circle" />
                        </div>
                        <!-- User Name -->
                        <h5 class="text-center">@Model.Users.UsarName</h5>
                        <p>Joined @Model.Users.CreatedAt.ToString("dd MMMM yyyy")</p>
                        <a asp-action="EditProfile" class="btn btn-main-sm" style="color: #5672f9;border: 1px solid #5672f9;">Edit Profile</a>
                    </div>
                    <!-- Dashboard Links -->
                    <div class="widget user-dashboard-menu">
                        <ul>
                            <li class="active">
                                <a asp-action="MyAds">
                                    <i class="fa fa-user"></i> My Ads
                                    <span>@ViewBag.MyAds</span>
                                </a>

                            </li>
                            <li>
                                <a asp-action="Favorite">
                                    <i class="fa fa-bookmark-o"></i> Favourite Ads
                                    <span>@ViewBag.Facourite</span>
                                </a>
                            </li>
                            <li>
                                <a asp-action="Home" asp-controller="Home"><i class="fa fa-cog"></i>Logout</a>
                            </li>
                            <li><a asp-action="DeleteUser" asp-route-id="@Model.Users.UserId"><i class="fa fa-power-off"></i>Delete Account</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
                <!-- Change Email Address -->
                <div class="widget change-email mb-0">
                    <h3 class="widget-header user">Create New Ads</h3>
                    <form asp-action="EditAds" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Product.ProductId" />
                        <input type="hidden" asp-for="Product.Photo" />
                        <input type="hidden" asp-for="Product.UserId" />


                        <div class="form-group">
                            <label for="Name" class="control-label">Name</label>
                            <input asp-for="Product.Name" class="form-control" autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <label for="Description" class="control-label">Description</label>
                            <input asp-for="Product.Description" class="form-control" autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <label for="Price" class="control-label">Price</label>
                            <input asp-for="Product.Price" class="form-control" autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <label for="Location" class="control-label">Location</label>
                            <input asp-for="Product.Location" class="form-control" autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <label for="Photo" class="control-label">Photo</label>
                            <input type="file" asp-for="Product.Photo" class="form-control" autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <label for="Expire" class="control-label">Expire</label>
                            <input type="date" asp-for="Product.Expire" class="form-control" autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <label for="CategoryId" class="control-label">Category</label>
                            <select asp-for="Product.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                        </div>
                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-transparent" style="color: #5672f9; border: 1px solid #5672f9;">Edit Ads</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

